extends layout

block content
  h1 Palindrome Checker
  h3 Hello! Welcome to my palindrome checker.
  p Enter any assortment of words to see, if reversed, will come out to the same message.
  p For example...
  ul
    li Racecar
    li Step on no pets
    li Hannah
  ul
  h4 Now, go have fun with this little program!
  form(method = "POST" action = "/")
    label(for = "userText") Enter your text here:
    br
    input(type = "text" id = "userText" name = "userText" value = `${phrase}`)
    br
    br
    button(type = "submit") Submit
  if message
    p=message
  if reverse
    p= `Your phrase in reverse is "${reverse}"`
  if reverseTwo
    p= `Removing all symbols, spaces and numbers, your phrase translates to "${reverseTwo}"`

